# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientists
- Examples of evaluating arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib

| Data Science Tools   |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Visual Studio Code    |

### Below are a few examples of evaluating arithmetic expressions inn Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

## Author
Leonardo Gonzalez Velazquez